body {
    width: 80%;
    margin: 60px auto;
    background: #EEEEEE;
}

img {
  vertical-align: middle;   
}

.checkimg {
    opacity: 0.5;  
    padding: 2px;
    filter: alpha(opacity=50);
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: #999;
    padding: 6px;
}

a {
    text-decoration: none;
}
